*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
header{
    position: fixed;
    min-height: 15vh;
    font-size: 2.5rem;
    font-weight: 700;
    background-color: white;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
nav ul{
    position: absolute;
    left: 30px;
    list-style-type: none;
}
#logo{
    position: absolute;
    top: 10px;
    left: 50px;
}
nav ul img{
    height: 15vh;
}
#one{
    position: absolute;
    top: 50px;
    left: 500px;  
}
#two{
    position: absolute;
    top: 50px;
    left: 620px;
}
#four{
    position: absolute;
    top: 50px;
    left: 750px;
}
#five{
    position: absolute;
    top: 50px;
    left: 870px;
}
#six{
    position: absolute;
    top: 50px;
    left: 995px;
}
nav ul a{
    text-decoration: none;
    color: #BEAB76;
}
nav ul a:hover{
    text-decoration: underline;
    color: black;
}
.btn1{
    position: absolute;
    left: 1300px;
    top: 38px;
    width: 8vw;
    height: 7vh;
    color: #BEAB76;
    background-color: white;
    font-size: 1.8rem;
    font-weight: 700;
    padding: 5px;
    border-radius: 5px;
}
nav button:hover{
    background-color: #BEAB76;
    color: black;
}
.section1{
    position: relative;
    background-image: url(./images/pexels-roman-odintsov-4553378.jpg);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;
    background-attachment: fixed;
}
.btn2{
    position: absolute;
    left: 700px;
    top: 310px;
    z-index: 1;
    filter: brightness(100%);
}
.btn2 button{
    height: 10vh;
    width: 10vw;
    background-color: #BEAB76;
    color: white;
    font-size: 2rem;
    font-weight: 700;
  
}
.section2{
    position: relative;
    font-size: 2rem;
}
.flex{
    display: grid;
    margin-top: 100px;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 10rem;
    justify-items: space-evenly;
    justify-items: center;
    flex-wrap: wrap;
    list-style-type: none;
}
.footer{
    position: relative;
    height: 80vh;
    font-size: 2rem;
    font-weight: 700;
}
.getintouch{
    position: absolute;
    left: 450px;
    top: 200px;
    width: 50vw;
}
.top{
    position: absolute;
    top: 200px;
    width: 260vw;
    left: 950px;
}
.top a{
    text-decoration: none;
    color: #000;
}
.top a:hover{
    text-decoration: underline;
    color: #bc8f50;
}
.logo2{
    position: absolute;
    left: 200px;
    top: 200px;
}
.logo2 img{
    height: 15vh;
    width: 20vh;
}
.copy{
    position: absolute;
    bottom: 10px;
    left: 640px;
    font-size: 1.8rem;
    font-weight: 400;
    color: #000;
}
.sticky{
    position: fixed;
    bottom: 20px;
    left: 1380px;
}
.sticky button{
    background-color: #beab76;
    color: white;
    width: 10vw;
    height: 8vh;
    font-size: 1.4rem;
    font-weight: 700;
    border-radius: 10px;
}
.sticky button a{
    text-decoration: none;
    color: white;
}
.icons{
    position: absolute;
    left: 1260px;
    top: 200px;
    font-size: 3rem;
    line-height: 1.8;
}